:root {
  --batatas: blue;
}
h2 {
  color: var(--batatas);
}
h3 {
  color: aqua;
}

.footer-links {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style-type: none;
  margin: 0;
}
.footer-links li {
  margin: 20px;
}

.heading{
  position: relative;
}

.heading::after{
  content: ;
  position: absolute;
  border: 2px solid blue
  width:100px;
  top: 100%;
  left: 50%;
  transform: translateX(50%);
}

button.btn.btn-primary{
  color: blueviolet;
  background-color: aqua;
  padding: 3px 12px;
}


